.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.skills__icon {
  margin-right: 0.4em;
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1.1rem;
  height: 1.1rem;
}