.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer__social {
  display: flex;
  gap: 1em;
}

.footer__copyright {
  font-size: 0.85rem;
  color: var(--clr-fg);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}